@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap");

* {
  font-family: "Quicksand", sans-serif;
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

body {
  background-color:lightblue;
  max-width: 600px;
  text-align: center;
}

.container h1,
.container h2 {
  color: crimson;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-top: 50px;
 
}

h2 {
  margin: 20px 0;
  font-weight: 100;
}

table {
  text-align: left;
  width: 640px;
  margin: 30px auto;
  border-radius: 5px;
  background-color: #fff;
}

th {
  padding: 10px;
}

tr:nth-child(odd) {
  background-color: lightgrey;
}

td {
  padding: 10px 15px;
  background-color: white;
}

.amount {
  background-color: red;
  text-align: right;
}

#button {
  font-size: 18px;
  background-color: lightgrey;
  padding: 20px;
  text-align: center;
  line-height: 24px;
  width: 220px;
  border-radius: 3px;
  cursor: pointer;
  margin: auto;
  box-shadow: 0 3px black;
  transition: 0.1s ease;
}



form {
  color: black;
  margin: auto;

  width: 650px;
  margin: 30px auto;
  padding-left: 15px;
}

select,
input {
  margin-bottom: 25px;
  background-color: white;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  border: 0;
}

#getDate {
width: 120px;
}

#getPayment {
  width: 90px;
}

#getAmount {
  width: 90px;
}

div {
  display: inline-block;
  margin-right: 10px;
}
span {
  font-size: 1.3em;
  font-weight: 100;
  display: inline-block;
  width: 100px;
}
#type {
  width: 70px;
}

#date {
  width: 100px;
}

#amount {
  width: 100px;
}

#if-empty {
  text-align: center;
}

.center {
  margin: auto;
  text-align: center;
}
