@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap");

* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: white;
  text-align: center;
}

.container {
  background-color: lightblue;
  width: auto;
  padding: 20px;
  min-height: 100vh;
  margin: 1rem auto;
  border-radius: 20px;
}
form {
  color: black;
  margin: auto;
  width: 650px;
  margin: 20px auto;
  padding-left: 15px;
}

form > div {
  text-align-last: left;
}

select,
input {
  display: flex;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: white;
  padding: 5px;
  width: 200px;
  border-radius: 5px;
  border: 0;
}

 h1,
 h2 {
  color: crimson;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-top: 40px;
}

h2 {
  margin: 20px 0;
  font-weight: 100;
}

table {
  text-align: left;
  width: 640px;
  margin: 30px auto;
  border-radius: 5px;
  background-color: white;
}

th {
  padding: 10px;
}

tr:nth-child(odd) {
  background-color: darkgrey;
}

td {
  padding: 8px 12px;
  background-color: white;
}

#button {
  font-size: 18px;
  background-color: lightgrey;
  padding: 10px;
  text-align: center;
  line-height: 20px;
  width: 220px;
  border-radius: 10px;
  cursor: pointer;
  margin: auto;
  box-shadow: 0 1px red;
}

#button:hover {
  background-color:white;
}

#getDate {
width: 130px;
}

#getPayment {
  width: 90px;
}

#getAmount {
  width: 100px;
}

#getDescription{
  background-color: white;
  width:150px;
}

div {
  display: inline-block;
  margin-right: 10px;
}

#type {
  width: 70px;
}

#date {
  width: 125px;
}

#amount {
  width: 100px;
}
